<p><%= @post.content%></p>

<% if @post.user == current_user %>
    <%= link_to "Edit", edit_user_post_path(current_user, @post) %>
    <%= button_to "Delete", user_post_path(current_user, @post), method: :delete, data: { confirm: "Are you sure?" } %>
    
<% end %>

<p><strong>Author:</strong> <%= @post.user.name %></p>
<p><strong>Created at:</strong> <%= @post.created_at.strftime("%B %d, %Y") %></p>

<div>
    <% if @post.likes.exists?(user_id: current_user.id)%>
        <% like = @post.likes.find_by(user_id: current_user.id)%>
        <%= button_to "Unlike", post_like_path(@post, like ), method: :delete%>
    <% else %>    
        <%= button_to "Like", post_likes_path(@post), method: :post, data: { confirm: "Are you sure?"  } %>   
    <% end %>  
    <p> Like: <%= @post.likes.count %></p>  
</div> 
<% if @post.user == current_user %>
    <%= link_to "Edit", edit_user_post_path(current_user, @post) %> 
    <%= link_to "Delete", user_post_path(current_user, @post), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %> 
<%= link_to "Back to Posts", root_path %>